@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-VariableFont_wdth_wght.woff2') format('woff2'),
         url('fonts/Roboto-VariableFont_wdth_wght.woff') format('woff');
    font-weight: 100 900; /* Adjust as necessary */
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('fonts/Roboto-Italic-VariableFont_wdth,wght.woff2') format('woff2'),
         url('fonts/Roboto-Italic-VariableFont_wdth_wght.woff') format('woff');
    font-weight: 100 900; /* Adjust as necessary */
    font-style: italic;
    font-display: swap;
}

*{
    text-align: center;
    padding: 1%;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(65, 65, 60);
}

h1{
    margin: 6%;
    color: rgb(32, 62, 87);
    font-size: 88px;
    border-left: 5px dashed #ff3131;
    border-top: 5px dashed #384cff;
    border-right: 5px dashed #a0ff07;
    border-bottom: 5px dashed #cc00ff;
    border-radius: 20px;
    background-color: #7a964d;
}

h2{
    color: white;
}



p {
    color: white;
    margin-bottom: 60px;
}

a{
    color: rgb(0, 153, 255);
}

.center-50{
    text-align: center;
    float: left;
    width: 50%;
    padding: 15px;
}

.exemploBack{
    background-color: gray;
    background-image:url("../img/pexels-danielabsi-952670.jpg") ;
    background-size: contain;
    background-repeat: repeat;
    min-width: 200px;
    max-width: 100%;
    padding: 1px;
    box-sizing: border-box;
    word-break: break-word;
    margin-top: 30px; /* Igual à altura da barra */
}

.botao{
    background-color: transparent;
    color: white;
    padding: 0px;
    border: none;
    text-decoration: none;
    cursor: pointer;

}

.botao img{
    display: block;
}

.barra.sup{
    position: fixed;
    top: 0;
    height: 30px; /* Altura fixa em px */
    width: 90%;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
}

.logo {
    position: absolute;
    left: 10px;
    top: 5px;
}

.logo_img {
    width: 30px;
    height: 30px;
}